html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  color: white;
  background-color: #d05c2e;
  margin: 0 0 .7rem;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

img {
  width: 40px;
}

.grain-left {
  float: left;
}

.grain-right {
  float: right;
}

nav li {
  float: left;
  list-style-type: none;
  width: 33.3%;
}

ul {
  padding: 0;
}

nav a {
  color: white;
  font-size: 1.125rem;
  padding: .4rem 0;
  margin: .3rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav a:hover {
  background-color: #a63f38;
}
