html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  color: white;
  background-color: #d05c2e;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: .5em 0 0;
  margin: 0 0 .7rem;
  border: 1px;
  border-color: #a63f38
  text-align: center;
}

img {
  width: 40px;
}

.grain-left {
  float: left;
}

.grain-right {
  float: right;
}

nav li{
  display: inline;
}

nav a {
  color: white;
  font-size: 1.125rem;
  padding: .4rem 0;
  margin: .3rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

div {
  text-shadow: center;
}

nav li:hover {
  background-color: #a63f38;
  padding: .4rem 0;
  margin: .3rem;
}
